/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/
*{
	margin: 1px;
	padding: 1px;
}
h1{
    position: absolute; // Reposition logo from the natural layout
    left: 75px;
    top: 0px;
    width: 220px;
    height: 50px;
    z-index: 2;
    background: #0595DB;
    padding-left: 1.5%;
    padding-top: 8%;
    font-size: 30px;

	
}
h1 img{
    margin-top: -150px;
    margin-left: 45px;
}
h2{
	font-family: Microsoft YaHei UI;
	color: #009DD9;
	font-weight: bold;
	font-size: 36px;
	padding-top: 0;
}
h3{
	font-family: Arial;
	color: #333333;
	font-weight: bold;
    text-decoration: underline;


}
h4{
        font-family: arial;
        font-weight: bold;
        font-size: 24px;
        text-decoration: underline;
}
h5{
	margin-left: 1%;
}
h6{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    background:#009DD9;
    width: 100%;
    float: left;
    padding-top: 0px;
    padding: 5px;
    margin: 0px;
    margin-left: -5px;
    margin-bottom: -2px;
    box-shadow: 0px 0px 1px #888888;
	
	position:relative;
    z-index: 500;
}
input {
	margin-left: 1%;
}

#header{
	background: #009DD9;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 50px;
	font-family: arial;
	font-weight: bold;
	box-shadow: 0px 0px 5px #888888;	
}

#loginbutton{
	margin-left: 85%;
	margin-top: -50px;
	padding-bottom: 35px;
	padding-top: 30px;
}
#header-button{
	background-color: #FFFFFF; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin-top: 10%;

    cursor: pointer;
	border-radius: 12px;
	
}
#navbar {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #FFFFFF;
	border-bottom: 1px solid #ccc;
	}
#navbar ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	margin-left: 300px;
	padding: 0; }
#navbar li {
	float: left; }
#navbar li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	font-size: 24px;
	color: black;
	border-right: 1px solid #ccc; }
#navbar li:first-child a {
	border-left: 1px solid #ccc; }
#navbar li a:hover {
	color: #009DD9;
	background-color: #fff; }	
#main-content{
	background: #ECECEA;
	height: auto;
    min-height: 100%;
	top: 0;
    padding-top: 50px;
    margin-top: -1px;
	overflow: hidden;
    position: relative;

}
#center-content{
	padding: 5%;
	width: 75%;
    height: auto;
	margin-left: 8%;
	padding-top: 2%;
    margin-bottom: 2%;
	background: #FFFFFF;
	margin-top: 30px;
    overflow: auto;
    position: relative;
}
#search-content{
	padding: 1%;
	width: 71%;
	height: auto;
	margin-left: 25%;
	padding-top: 1%;
	background: #FFFFFF;
	margin-top: 30px;
	box-shadow: 0px 0px 5px #888888;
    overflow: auto;
    position: relative;
}
#result-entry{
    padding-left: 2%;
    background:#ECECEA;
    border-radius: 25px;
    border: 2px solid #009DD9;
    margin-bottom: 2%;
    margin-top: 0;
}
#result-entry a{
    font-family: arial;
    font-weight: bold;
}
#search-bar{
	float: left;
	padding: 1%;
	width: 20%;
	height: auto;
	margin-left: 1%;
	background: #FFFFFF;
	margin-top: 30px;
	box-shadow: 0px 0px 5px #888888;

}
#form-container{
    font-size: 20px;
    font-family: arial;

    width: 100%;
    float: left;
    border: 2px ridge black;
    border-top: 0px;
    border-radius: 10px;
    border-color: #009DD9;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;




}
#form-container a{
    font-size: 20px;
    font-weight: bold;
	background:#009DD9;
    width: 100.5%;
    float: left;
    padding-top: 0px;
    padding: 5px;
    padding-left: 0;
    margin: 0px;
    margin-left: -5px;
    box-shadow: 0px 0px 1px #888888;
}
#summarybox{
    font-size: 20px;
    font-family: arial;


    width: 100%;
    float: left;
    border: 2px ridge black;
    border-top: 0px;
    border-radius: 10px;
    border-color: #009DD9;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 25px;

}
#summarybox a{
    padding-top: 5%;

}

#input{
    padding: 3%;
}
input[type=submit] {
    background-color: #009DD9; /* blue */
    border: none;
    color: black;
    padding: 5px 11px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
#button{
    background-color: #009DD9; /* blue */
    border: none;
    color: black;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    
}
#errormessage{
    color: red;
    font-weight: bold;
    font-family: arial;
    background:orange;
    border-radius: 25px;
    width: auto;
    padding: 1%;
}
footer{
    background: #009DD9;
    font-family: arial;
    font-weight: bold;
    box-shadow: 0px 0px 5px #888888;


}





	


